<footer class="footer">
  <small>
    Orbit Feedback application
  </small>

  <nav>
    <ul>
      <li><%= link_to 'About', html_pages_about_path %>
      <li><%= link_to 'Contact', html_pages_contact_path %>
    </ul>
  </nav>
</footer>
